body {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 300px;
    background-color: #cb7972;
}

p {
    font-family: 'Droid Sans', sans-serif;
    color: white;
}

li{
    font-family: 'Merriweather', serif;
    font-size: 25px;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: white;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: white;
}

h3{
    font-family: 'Droid Sans', sans-serif;
    color: white;
}

h6{
    font-family: 'Droid Sans', sans-serif;
    color: white;
}

img {
    display: block;
    margin: 0 auto;
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

#rightObject {
    float: left;
}

.mainpage{
    background-color: white;
    color: black;

}

#centerheader{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}